<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let maravilla of maravillas;let indexOfelement=index;" class="light-gray-bg">
      <th scope="row">{{indexOfelement+1}}</th>
      <td><span (click)="clickMaravilla(maravilla)" class="blue-font clickable">{{maravilla.name}}</span></td>
      <td>{{maravilla.country}}</td>
    </tr>
  </tbody>
</table>
